{% extends "root/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'root/css/login.css' %}">
{% endblock css %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="login-container">
    <div class="login-page">
        <div class="logo-box text-center">
            <img src="{% static 'root/images/Logo.png' %}" alt="Logo">
        </div>
        <div class="login-entry text-center">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                {{fm}}{{fm.errors|striptags}}
                {% endfor %}
                <br>
                {% if messages %}
                <div class="message-box mb-3 text-danger">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>
                {% else %}
                {% endif %}
                <button type="submit" class="btn btn-outline-info">Login</button> <br>
            </form>
            <a href="{% url 'register' %}" class="btn btn-sm btn-outline-primary mt-3">Register</a>
        </div>
    </div>
</div>
{% endblock content %}