{% extends "root/base.html" %}
{% load static %}
{% block title %}ContactUS{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'root/css/contact.css' %}">
<link rel="stylesheet" href="{% static 'root/css/all.css' %}">
{% endblock css %}

{% block content %}

<div class="contactBigContainer container-fluid mt-2">
    <div class="row row-size">
        <div class="col contact-container">
            <div class="row">
                <form action="" id='contact-form' class='d-flex flex-column justify-content-center align-items-center'>
                    <div class="row mb-3 text-center camera-row">
                        <div id="camera"><i class="fa fa-circle"></i></div>
                    </div>
                    <div class="row">
                        <div id="camera-menu" class="col-sm-8">
                            <p>Details of the developer</p>
                            <p class="person-box"><i class="fa fa-male mt-3"></i>: <span>Arslan Ziaf</span></p>
                            <p id="email-box"><i class="fa fa-envelope"></i>: <span>arslanrak1000@gmail.com</span></p>
                            <p class="phone-box"><i class="fa fa-phone"></i>: <span>+923406142546</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" name="username" id="name-field" class="field" placeholder='name'>
                        </div>
                        <div class="col-sm-5 offset-sm-1">
                            <input type="email" name="email" id="email-field" class="field" placeholder='example@gmail.com'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" name="profession" id="profession-field" class="field" placeholder='profession'>
                        </div>
                        <div class="col-sm-5 offset-sm-1">
                            <input type="number" name="age" id="age-field" class='field' placeholder='age'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <textarea name="message" id="message-field" cols="78" rows="8" placeholder='Type here....'></textarea>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-sm-4">
                            <input type="submit" value="Submit" class="btn btn-outline-success" id='contact-submit-button'>
                        </div>
                   </div>
                </form>
            </div>
            <div class="row">
                <div class="col left-button-icons-menu">
                    <span id="facebook-icon" class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-3x"></i></a>
                    </span>
                    <span id="twitter-icon" class="icons">
                        <a href=""><i class="fa-brands fa-twitter fa-3x"></i></a>
                    </span>
                    <span id="youtube-icon" class="icons">
                        <a href=""><i class="fa-brands fa-youtube fa-3x"></i></a>
                    </span>
                    <span id="home-icon" class="icons">
                        <a href="#" class='text-decoration-none'><i class="fa-brands fa-pinterest fa-3x"></i></a>
                    </span>
                    <span id="linkedin-icon" class="icons">
                        <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                    </span>
                    <span id="instagram-icon" class="icons">
                        <a href=""><i class="fa-brands fa-instagram fa-3x"></i></a>
                    </span>
                    <span id="web-icon" class="icons">
                        <a href=""><i class="fa-brands fa-whatsapp fa-3x"></i></a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col mobile-buttons">
                    <div class="left-mobile-button"><i class="fa-brands fa-windows fa-2x"></i></div>
                    <a href="{% url 'home' %}"><i class="fa fa-home fa-2x"></i></a>
                    <div class="right-mobile-button"><i class="fa fa-circle-notch fa-2x"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 offset-sm-2 mt-2 social-icons-row">
            <span id="facebook-icon" class="icons">
                <i class="fa-brands fa-facebook fa-3x"></i>
            </span>
            <span id="twitter-icon" class="icons">
                <i class="fa-brands fa-twitter fa-3x"></i>
            </span>
            <span id="youtube-icon" class="icons">
                <i class="fa-brands fa-youtube fa-3x"></i>
            </span>
            <span id="home-icon" class="icons">
                <a href="{% url 'home' %}" class='text-decoration-none'><i class="fa fa-home fa-3x"></i></a>
            </span>
            <span id="linkedin-icon" class="icons">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </span>
            <span id="instagram-icon" class="icons">
                <i class="fa-brands fa-instagram fa-3x"></i>
            </span>
            <span id="web-icon" class="icons">
                <i class="fa-brands fa-whatsapp fa-3x"></i>
            </span>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'root/js/all.js' %}"></script>
<script src="{% static 'root/js/contact.js' %}"></script>
{% endblock js %}